# -------------------------------
# Python 编译缓存和字节码文件
# -------------------------------
__pycache__/
**/__pycache__/
*.py[cod]

# -------------------------------
# 系统与日志文件
# -------------------------------
.DS_Store
logs/*.log
*.log
